JavaApplication4/src/META-INF/wsdl/localhost_8080/universidad-soap/universidadSoapWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://soap.universidad.universidad.arquitectura.espe.edu.ec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soap.universidad.universidad.arquitectura.espe.edu.ec/">

<xs:element name="listadoEstudiantes" type="tns:listadoEstudiantes"/>

<xs:element name="listadoEstudiantesResponse" type="tns:listadoEstudiantesResponse"/>

<xs:element name="listadoNrcs" type="tns:listadoNrcs"/>

<xs:element name="listadoNrcsResponse" type="tns:listadoNrcsResponse"/>

<xs:element name="listarPeriodos" type="tns:listarPeriodos"/>

<xs:element name="listarPeriodosResponse" type="tns:listarPeriodosResponse"/>

<xs:complexType name="listadoEstudiantes">
<xs:sequence>
<xs:element name="nrc" type="xs:string" minOccurs="0"/>
<xs:element name="periodo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listadoEstudiantesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarPeriodos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarPeriodosResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listadoNrcs">
<xs:sequence>
<xs:element name="periodo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listadoNrcsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>