JavaApplication4/src/META-INF/wsdl/localhost_8080/universidad-soap/universidadSoapWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.universidad.universidad.arquitectura.espe.edu.ec/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.universidad.universidad.arquitectura.espe.edu.ec/" name="universidadSoapWS">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.universidad.universidad.arquitectura.espe.edu.ec/" schemaLocation="http://localhost:8080/universidad-soap/universidadSoapWS?xsd=1"/>
</xsd:schema>
</types>
<message name="listadoEstudiantes">
<part name="parameters" element="tns:listadoEstudiantes"/>
</message>
<message name="listadoEstudiantesResponse">
<part name="parameters" element="tns:listadoEstudiantesResponse"/>
</message>
<message name="listadoNrcs">
<part name="parameters" element="tns:listadoNrcs"/>
</message>
<message name="listadoNrcsResponse">
<part name="parameters" element="tns:listadoNrcsResponse"/>
</message>
<message name="listarPeriodos">
<part name="parameters" element="tns:listarPeriodos"/>
</message>
<message name="listarPeriodosResponse">
<part name="parameters" element="tns:listarPeriodosResponse"/>
</message>
<portType name="UniversidadSoapWS">
<operation name="listadoEstudiantes">
<input wsam:Action="http://soap.universidad.universidad.arquitectura.espe.edu.ec/UniversidadSoapWS/listadoEstudiantesRequest" message="tns:listadoEstudiantes"/>
<output wsam:Action="http://soap.universidad.universidad.arquitectura.espe.edu.ec/UniversidadSoapWS/listadoEstudiantesResponse" message="tns:listadoEstudiantesResponse"/>
</operation>
<operation name="listadoNrcs">
<input wsam:Action="http://soap.universidad.universidad.arquitectura.espe.edu.ec/UniversidadSoapWS/listadoNrcsRequest" message="tns:listadoNrcs"/>
<output wsam:Action="http://soap.universidad.universidad.arquitectura.espe.edu.ec/UniversidadSoapWS/listadoNrcsResponse" message="tns:listadoNrcsResponse"/>
</operation>
<operation name="listarPeriodos">
<input wsam:Action="http://soap.universidad.universidad.arquitectura.espe.edu.ec/UniversidadSoapWS/listarPeriodosRequest" message="tns:listarPeriodos"/>
<output wsam:Action="http://soap.universidad.universidad.arquitectura.espe.edu.ec/UniversidadSoapWS/listarPeriodosResponse" message="tns:listarPeriodosResponse"/>
</operation>
</portType>
<binding name="UniversidadSoapWSPortBinding" type="tns:UniversidadSoapWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listadoEstudiantes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listadoNrcs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarPeriodos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="universidadSoapWS">
<port name="UniversidadSoapWSPort" binding="tns:UniversidadSoapWSPortBinding">
<soap:address location="http://localhost:8080/universidad-soap/universidadSoapWS"/>
</port>
</service>
</definitions>